@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
}

.bg {
    background-image: url("./assets/icons/background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
    background-image: url("./assets/icons/authLogo.svg");
    background-position: center;
    background-repeat: no-repeat;
}